*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

.icon{
    padding-left: 0%;
    background-color: solid black ;

}

h1 {
  text-align: center;
}
.logo-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sk{
    width: 128px;
    position: center;
    background-color: white;
    position:relative;
    margin: 0 auto;
}   

.logo{
    width: 100%;
    opacity: 20%;
    position: center;
    background-color: white;
    position:relative;
    padding: 4rem 12rem;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white; 
    text-align: center;
}



/*Pop-Up Form*/

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 1000px;
  padding: 200px 345px 250px;
  background-color: white;

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .cancel {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/*Blotter and list*/


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: red;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }



 



























